[Server]
IpAddress = 0.0.0.0
Port = 11111
IndexPath = /var/www/ilias/data
LogFile = /var/log/lucene/indexer.log
LogLevel = $LUCENE_LOG_LEVEL
NumThreads = $LUCENE_NUM_THREADS
RamBufferSize = $LUCENE_RAM_BUFFER_SIZE
IndexMaxFileSizeMB = $LUCENE_INDEX_MAX_FILE_SIZE

[Client1]
ClientId = $LUCENE_CLIENT_ID
NicId = $LUCENE_NIC_ID
IliasIniPath = /var/www/ilias/ilias.ini.php

